
/* bottom progress bar */
.progressBar{
  background-color: #1d1d1d;
}
.progressBar-light{
  background-color: #717171;
}
.progressBar-moreLight{
  background-color: #d2d2d2;
}

/* entertainment */
.entertainment{
  font-size: 10px;
  color: #717171;
}
.main-content{
  margin-left: 10%;
}

/* next button css */
.next-button, .result-text{
 margin-left:30%;
}

/* question css */
.question {
  margin-top: 10px;
}

